<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
			<key>DropOem</key>
			<false/>
			<key>NoDynamicExtract</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<true/>
		<key>smartUPS</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename XHCI to XHC (USB)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDMQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename XHC1 to XHC (USB)</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixHDA</key>
				<false/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixShutdown</key>
				<false/>
				<key>FixIPIC</key>
				<true/>
				<key>FixMutex</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FixRegions</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<false/>
		<key>HaltEnabler</key>
		<true/>
		<key>FixHeaders</key>
		<false/>
		<key>FixMCFG</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NeverHibernate</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>npci=0x2000 dart=0 agdpmod=pikera slide=0 igfxrpsc=1</string>
		<key>CustomLogo</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>en-US:0</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>ShowOptimus</key>
		<true/>
		<key>Theme</key>
		<string>CrispyOSX</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>LANInjection</key>
		<false/>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x3E9B8086</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>InjectHDMI</key>
		<false/>
		<key>UseIntelHDMI</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>RwAAAA==</data>
				<key>model</key>
				<string>Cannon Lake PCH cAVS</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Multimedia audio controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>framebuffer-portcount</key>
				<data>AgAAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>hda-gfx</key>
				<string>onboard-2</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>framebuffer-con2-index</key>
				<data>/////w==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>Intel UHD Graphics 630 (Mobile)</string>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
			</dict>
		</dict>
		<key>InjectLAN</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x3E9B0000</string>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>PanicNoKextDump</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>EightApple</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF426</string>
		<key>Board-ID</key>
		<string>Mac-937A206F2EE63C01</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>BoardVersion</key>
		<string>MacBookPro15,1</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x9</string>
		<key>BiosVersion</key>
		<string>MBP151.88Z.F000.B00.2010290025</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02821902GUJP4FA8</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,1</string>
		<key>SmUUID</key>
		<string>06725878-4BAE-4231-8FBB-88B76B39469D</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1554.50.3.0.0</string>
		<key>SerialNumber</key>
		<string>C02WRHYEKGYG</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>10/29/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>SetupVirtualMap</key>
		<false/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>RebuildAppleMemoryMap</key>
		<true/>
	</dict>
</dict>
</plist>